/* Empty. Add your own CSS if you like */

.bar-positive {
	box-shadow: 0 2px 2px #888;
}

.item.item-avatar-left {
	background-color: lightpink;
}

.card {
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}